<div class="hero-unit">
  <center>
  <h1>Bienvenidos</h1>
 

</div>
<div class="row">
  <div class="span8">
    <center>
    <h2>Hecho Por:  Veronica Restrepo Zapata</h2>
    </center>

  </div>
</div>


